.blackCell {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/BlackCell.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.blackCell:hover {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/BlackCellHover.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.blackCellSelected {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/BlackCellSelected.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.blackCellPossible {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/BlackCellPossibility.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.blackCellPossible:hover {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/BlackCellPossibilityHover.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.blackCellThreaten {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/BlackCellThreaten.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.blackCellThreaten:hover {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/BlackCellThreatenHover.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.blackCellSelected:hover {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/BlackCellSelectedHover.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.whiteCell {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/WhiteCell.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.whiteCell:hover {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/WhiteCellHover.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;

}

.whiteCellSelected {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/WhiteCellSelected.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.whiteCellThreaten {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/WhiteCellThreaten.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.whiteCellThreaten:hover {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/WhiteCellThreatenHover.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.whiteCellPossible {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/WhiteCellPossibility.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.whiteCellPossible:hover {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/WhiteCellPossibilityHover.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.whiteCellSelected:hover {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/WhiteCellSelectedHover.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
}

.queeningDialog {
    -fx-background-color: #633e19;
}

.queeningDialog .button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor: hand;
}

.queeningDialog .BishopButton {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor: hand;
}

.queeningDialog .KnightButton {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor: hand;
}

.queeningDialog .RookButton:{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor: hand;
}