.blackCell {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/BlackCell.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 75 75;
    -fx-background-position: center center;

    /*-fx-background-color: Black;*/
}

.blackCell:selected {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/BlackCellSelected.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 75 75;
    -fx-background-position: center center;
}

.whiteCell {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/WhiteCell.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 75 75;
    -fx-background-position: center center;
    /*-fx-background-color: White;*/
}

.whiteCell:selected {
    -fx-background-image: url("../Assets/Images/Board/BlueTheme/WhiteCellSelected.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 75 75;
    -fx-background-position: center center;
}