.background {
    -fx-background-color: #4b1c19;
}

.list-view {
    -fx-background-color: #fffede;
    -fx-border-color: #a16149;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

.text-field {
    -fx-background-color: #854933;
    -fx-text-fill: #fffede;
    -fx-prompt-text-fill: #fffede;
}

.label {
    -fx-text-fill: #fffede;
}

.button {
    -fx-background-color: #fffede;

}

.button:hover {
    -fx-background-color: #ffeabb;
}

.check-box {
    -fx-text-fill: #fffede;
}

.check-box:hover {
    -fx-text-fill: #ffeabb;
}

.combo-box {
    -fx-background-color: #a16149;
    -fx-text-fill: #ffeabb;
    -fx-prompt-text-fill: #ffeabb;

}